# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 10;
b = 10;
print(a);
print(b);
print("Do the variables have the same value?", (a==b));
print("Do the variables refer to the same object in memory?", (id(a)==id(b)));

10
10
Do the variables have the same value? True
Do the variables refer to the same object in memory? True

*місце для текстової відповіді

Отже, змінні будуть однакові як за значенням так і за посиланням. Адже в Python для оптимізації використання пам'яті буде створено один об'єкт, який містить значення '10'. Відповідно змінні 'a' та 'b' посилатимуться на один і той самий об'єкт в пам'яті. За допомогою цього покращується робота програми та економиться пам'ять.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [1]:
my_bool = True;
print("Whether a 'True' variable refers to a Boolean value  : ", isinstance(my_bool, bool));
print("Whether a 'True' variable refers to an integer value : ", isinstance(my_bool, int));

Whether a 'True' variable refers to a Boolean value  :  True
Whether a 'True' variable refers to an integer value :  True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:
a = 10;
b = 1.2;
print("Addition      (a+b)  = ", a+b);
print("Subtraction   (a-b)  = ", a-b);
print("Division      (a/b)  = ", a/b);
print("Multiplication(a*b)  = ", a*b);
print("Floor division(a//b) = ", a//b);
print("Modulus       (a%b)  = ", a%b);
print("Modulus       (b%a)  = ", b%a);
print("Exponentiation(b**a) = ", b**a);
print("Exponentiation(a**b) = ", a**b);

Addition      (a+b)  =  11.2
Subtraction   (a-b)  =  8.8
Division      (a/b)  =  8.333333333333334
Multiplication(a*b)  =  12.0
Floor division(a//b) =  8.0
Modulus       (a%b)  =  0.40000000000000036
Modulus       (b%a)  =  1.2
Exponentiation(b**a) =  6.191736422399997
Exponentiation(a**b) =  15.848931924611133

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [5]:
print("Variable 'b' before type conversion = ", b);
print("Variable 'b' after type conversion  = ", int(b));
bool_var = True;
bool_var1 = False;
print("Variable 'bool_var' before type conversion = ", bool_var);
print("Variable 'bool_var' after type conversion  = ", int(bool_var));

print("Variable 'bool_var1' before type conversion = ", bool_var1);
print("Variable 'bool_var1' after type conversion  = ", int(bool_var1));

Variable 'b' before type conversion =  1.2
Variable 'b' after type conversion  =  1
Variable 'bool_var' before type conversion =  True
Variable 'bool_var' after type conversion  =  1
Variable 'bool_var1' before type conversion =  False
Variable 'bool_var1' after type conversion  =  0

# IІІ. Рядки (String).


5. Створити пустий рядок двома різними способами.

In [6]:
empty_string = "";
empty_string2 = str();

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [7]:
apostrophe_string = 'String with apostrophe : \' '
apostrophe_string1 = r'String with apostrophe : \' ';
print(apostrophe_string)
print(apostrophe_string1)

String with apostrophe : '
String with apostrophe : \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [8]:
my_surname = "Striletska";
formatted_string = f"My surname is {my_surname}.";
print(formatted_string);

My surname is Striletska.



8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [26]:
string8 = "My dog is crazy.";
string8 = string8.replace('.', '');
string8 = string8.lower().split();
print(string8)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [10]:
my_list1 = ['Monday', 'Thursday', 'Wednesday', 'Thursday', 'Friday'];
my_list2 = list(('Saturday', 'Sunday'));
print("First list length  =", len(my_list1), "\nSecond list length =", len(my_list2));

First list length  = 5
Second list length = 2

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [11]:
my_list3 = [1,2,3,4,5];
my_list4 = [6,7,8,9,10];
print("Lists before action : \n",  my_list3, "\n",my_list4)
my_list3.append(my_list4);
print("Lists after action  : \n", my_list3, "\n",my_list4)

Lists before action :
 [1, 2, 3, 4, 5]
 [6, 7, 8, 9, 10]
Lists after action  :
 [1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
 [6, 7, 8, 9, 10]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [12]:
my_list4 = [1,2, 3];
my_list5 = [[2, 4, 6, 8], [1, 3, 5], my_list4, [7,8]];
print("First element from last list = ",my_list5[-1][0]);

First element from last list =  7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
my_list6 = [1, 5j, True, 'String', 2.2, [10, 20], ("It", " is", "tuple"), {1, 2, 2}, {"name": "Katya", "nickname": "Katyha"}, b"A"];
slised_list = my_list6[2:8];
print(slised_list);

[True, 'String', 2.2, [10, 20], ('It', ' is', 'tuple'), {1, 2}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [13]:
my_tuple1 = (1,);

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

Спільними рисами для типів данних list та tuple є:

*   І списки і кортежі допускають дублювання об'єктів.
*   Вони підтримують індексацію. Тобто ми можемо в своїй програмі доступатися до елементу за допомогою його індекса.  А також ітеруватися з допомогою циклів.
*   List та tuple є впорядкованими - всі елементи мають визначений порядок.
*   Обидва типи данних можуть містити в собі інші колекції.
*   Також спільними є певні методи такі як : len(), index(), count() та інші.;

Відмінними рисами для типів данних list та tuple є:

*  Декларація розрізняє list та tuple. Оголошення елементів списку відбувається за допомогою квадратних дужок '[]' або з використанням конструктора 'list()'. А для того щоб створити кортеж потрібно використовувати оголошення за допомогою круглих дужок '()' або конструктора 'tuple()';
*  Ще однією відмінністю є те що кортеж є незмінним, тобто після його створення ми не можемо змінювати, додавати або видаляти елементи. В той час як список це змінний тип данних, що дає нам змогу змінювати елементи після його створення.
*  Останньою відмінністю є те що кортежі є швидшими ніж списки.

Отже, слід використовувати кортеж, якщо ми не плануємо в подальшому змінювати наші елементи. Також кортежі підходять тоді коли нам важлива швидкість виконання адже вони працюють швидше за списки. А тип данних list варто використовувати, якщо нам потрібна взаємодія з елементами списку, тобто динамічно збільшувати чи зменшувати або змінювати послідовність елементів.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [17]:
my_tuple2 =(1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3);
print("Tuple    : ", my_tuple2)
new_tuple = my_tuple2[::-2]
print("New tuple: ", new_tuple)

Tuple    :  (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
New tuple:  (0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
my_set = set()
my_set.add(1)
my_set.add(5)
my_set.add(5)
my_set.add(3);
print(my_set)

{1, 3, 5}

*місце для текстової відповіді

Отже, множина set є змінним типом данних, відповідно ми можемо взаємодіяти з елементами колекції, наприклад додавати чи видаляти елементи множини.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list);
print(my_set)

{1, 2, 67, 8, 9}

*місце для текстової відповіді

Тип данних set завжди зберігає лише унікальні значення. Відповідно коли ми створюємо множину зі списку, повторювальні елементи автоматино будуть видалені. Через це в цьому завдані дубльовані елементи "зникли".

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [19]:
my_set1 = {1, 2, 4 , 6, 7}
my_set2 = {7, 6, 9, 10}
my_set3 = my_set1.union(my_set2)
my_set4 = my_set1.difference(my_set2)
my_set4_1 = my_set2.difference(my_set1)
my_set5 = my_set1.intersection(my_set2)
my_set6 = my_set1.symmetric_difference(my_set2)
print("First set :",my_set1)
print("Second set:", my_set2)
print("Union : ", my_set3)
print("Difference(my_set1-my_set2) : ", my_set4)
print("Difference(my_set2-my_set1) : ", my_set4_1)
print("Intersection : ", my_set5)
print("Symmetric difference : ", my_set6)

First set : {1, 2, 4, 6, 7}
Second set: {9, 10, 6, 7}
Union :  {1, 2, 4, 6, 7, 9, 10}
Difference(my_set1-my_set2) :  {1, 2, 4}
Difference(my_set2-my_set1) :  {9, 10}
Intersection :  {6, 7}
Symmetric difference :  {1, 2, 4, 9, 10}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
bool_var =True;
tuple_var = (1,2,3,4);
dict_var = {
    "type" : "Dictionary",
    19 : "nineteen",
    tuple_var : (100, 200, 300, 400),
    bool_var : int(bool_var),
}
print(dict_var)

{'type': 'Dictionary', 19: 'nineteen', (1, 2, 3, 4): (100, 200, 300, 400), True: 1}

*місце для текстової відповіді

Список не може бути ключем словника, адже ключами можуть бути тільки незмінні типи данних (тобто int, tuple, str, bool та інші), а список це змінний тип. Саме топу він не можу бути ключем.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [24]:

university = {
    "university name" : "NaUKMA",
    "age" : 400,
    "student" :
     {
         "name" : "Striletska Kateryna",
         "age" : 19,
         "ExpectedMarks" :
          {
              "Programing on C#" : 100,
              "Databases" : 100,
              "Programing on Python" : 100
              }
     }
    }
print(university["student"]["ExpectedMarks"]);

{'Programing on C#': 100, 'Databases': 100, 'Programing on Python': 100}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.